a{
    margin-right: 50px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
}
.navBar {
    justify-content:space-between;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(2, 84, 100);
    
}


.logoName { 
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin-left:10px;
}
.headerText{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px
}
.logoName img{
    height: 40px; 
    width: auto;  
}